@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-weight: inherit;
   line-height: normal;
   color: inherit;
   transition: all .3s ease;
   text-align: inherit;
}
a {
   font-family: inherit;
   font-weight: inherit;
   color: inherit;
   text-decoration: none;
}
button {
   border: none;
   outline: none;
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
ul {
   list-style: none;
}

.wrapper {
   overflow: hidden;
}

body {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   background: #000;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   &.active {
      overflow: hidden;
   }
}

.container {
   max-width: 1320px;
   margin: 0 auto;
   padding: 0 10px;
}

$blue: #5221E6;

.title {
   font-size: 55px;
   font-weight: 700;
   color: #fff;
   &.black {
      color: #000;
   }
   @media(max-width: 900px) {
      font-size: 45px;
   }
}

.above_title {
   font-size: 16px;
   font-weight: 700;
   line-height: 150%;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.text1,
.text2 {
   font-weight: 400;
   line-height: 150%;
}
.text1 {
   font-size: 18px;
}
.text2 {
   font-size: 16px;
}

.link {
   position: relative;
   &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 1px;
      width: 100%;
      background: #8491A0;
      border-radius: 5px;
   }
}

.header {
   padding: 32px 0;
   z-index: 20;
   @media(max-width: 600px) {
      position: fixed;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
   }
   &__body,
   &__list {
      display: flex;
      align-items: center;
   }
   &__body {
      justify-content: space-between;
   }
   &__list {
      z-index: 10;
      @media(max-width: 600px) {
         padding-top: 80px;
         position: fixed;
         top: -100%;
         opacity: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         background: rgba(19, 18, 18, 0.9);
         flex-direction: column;
         transition: all .6s ease;
         z-index: -1;
         &.active {
            top: 0;
            opacity: 1;
            z-index: 10;
         }
      }
   }
   &__item {
      // margin-right: 48px;
      &:last-child {
         margin-right: 0;
         margin-bottom: 0;
      }
      @media(max-width: 600px) {
         margin-right: 0;
         margin-bottom: 40px;
      }
   }
   &__link {
      color: #fff;
      padding: 24px 32px;
      @media(min-width: 600px) {
         &:hover {
            background: $blue;
         }
      }
   }
   &__burger {
      @media(min-width: 600px) {
         display: none;
      }
      position: relative;
      width: 30px;
      height: 30px;
      z-index: 12;
      cursor: pointer;
      transition: all .5s ease;
      &::before,
      & span,
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         height: 3px;
         background: #fff;
         transition: all .6s ease;
         border-radius: 10px;
         width: 100%;
      }
      &::before {
         top: 10px;
      }
      &::after {
         top: -10px;
      }
      &.active {
         &::before {
            top: 0px;
            transform: rotate(45deg);
         }
      }
      &.active {
         & span {
            opacity: 0;
            transform: scale(0.1);
         }
      }
      &.active {
         &::after {
            top: 0px;
            transform: rotate(-45deg);
         }
      }
   }
}
.logo {
   img {
      width: 78px;
      height: 24px;
   }
}

.footer {
   background: #181823;
   padding: 80px 0;
   @media(max-width: 600px) {
      padding: 50px 0;
   }
   &__columns,
   &__column {
      display: flex;
   }
   &__columns {
      align-items: start;
      margin-bottom: 46px;
      margin-right: 110px;
      @media(max-width: 1200px) {
         margin-right: 0px;
      }
      @media(max-width: 600px) {
         flex-direction: column;
      }
   }
   &__column {
      flex-direction: column;
      @media(max-width: 600px) {
         margin-bottom: 50px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   &__column1 {
      @media(min-width: 600px) {
         flex: 1 1 auto;
      }
   }
   &__column2 {
      width: 196px;
      @media(max-width: 600px) {
         width: 100%;
      }
   }
   &__logo {
      margin-bottom: 32px;
   }
   &__soc {
      margin-right: 16px;
      &:last-child {
         margin-right: 0;
      }
      img {
         width: 24px;
         height: 24px;
      }
   }
   &__link {
      color: #fff;
      margin-bottom: 15px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__text {
      color: #8491A0;
   }
}

.home {
   transform: translateX(-150%);
   transition: 1s;
   &.active {
      transform: translateX(0%);
   }
   max-width: 1460px;
   margin: 0 auto;
   padding: 0 10px;
   position: relative;
   width: 100%;
   display: flex;
   padding: 74px 0 84px 0;
   @media(max-width: 600px) {
      flex-direction: column;
      padding: 124px 0 80px 0;
   }
   &__title {
      font-size: 78px;
      font-weight: 700;
      line-height: normal;
      color: #fff;
      margin-bottom: 32px;
      span {
         color: rgba(255, 255, 255, 0.50);
      }
      @media(max-width: 1800px) {
         font-size: calc(30px + (78 - 30) * ((100vw - 280px) / (1800 - 280)));
      }
   }
   &__img {
      width: 50%;
      height: auto;
      @media(max-width: 600px) {
         width: 100%;
         margin-bottom: 20px;
      }
   }
   &__box {
      justify-self: end;
      position: absolute;
      width: 60%;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @media(max-width: 600px) {
         top: 0%;
         transform: translateY(0%);
         position: static;
         width: 100%;
         padding: 0 10px;
      }
   }
   &__text {
      color: rgba(255, 255, 255, 0.50);
      font-size: 16px;
      @media(max-width: 1200px) {
         font-size: calc(16px + (10 - 16) * ((100vw - 280px) / (1200 - 280)));
      }
   }
   .bg {
      position: absolute;
      background: #181823;
      top: -30%;
      right: 0;
      width: 70%;
      height: 130vh;
      z-index: -1;
      @media(max-width: 600px) {
         display: none;
      }
   }
}

.page1 {
   transform: translateX(150%);
   transition: 1s;
   &.active {
      transform: translateX(0%);
   }
   padding: 120px 0 140px 0;
   color: #fff;
   @media(max-width: 900px) {
      padding: 60px 0 80px 0;
   }
   &__above_title {
      color: #8491A0;
   }
   &__title {
      margin-bottom: 40px;
   }
   &__items {
      display: flex;
      align-items: start;
      justify-content: space-between;
      @media(max-width: 600px) {
         flex-direction: column;
      }
   }
   &__item {
      width: 30%;
      @media(max-width: 600px) {
         width: 100%;
         margin-bottom: 40px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}

.item1 {
   &__num {
      color: #8491A0;
      font-size: 117px;
      font-size: 80px;
      @media(max-width: 900px) {
         font-size: 80px;
      }
   }
   &__text1 {
      margin-bottom: 22px;
      font-size: 24px;
      font-weight: 700;
      line-height: 150%
   }
   &__text2 {
      color: #8491A0;
   }
}

.span1 {
   color: #3CC74E;
}
.span2 {
   color: #609BFF;
}
.span3 {
   color: #E95D90;
}

.page2 {
   transform: translateX(-150%);
   transition: 1s;
   &.active {
      transform: translateX(0%);
   }
   max-width: 1460px;
   margin: 0 auto;
   padding: 0 10px 120px 10px;
   @media(max-width: 600px) {
      padding: 0 10px 80px 10px;
   }
   &__body {
      display: flex;
      height: 600px;
      @media(max-width: 1460px) {
         height: calc(435px + (600 - 435) * ((100vw - 1000px) / (1460 - 1000)));
      }
      @media(max-width: 1000px) {
         height: auto;
         flex-direction: column-reverse;
      }
   }
   &__box_text,
   &__img {
      width: 50%;
      height: 100%;
      @media(max-width: 1000px) {
         width: 100%;
      }
   }
   &__box_text {
      background: #FFF3E4;
   }
   &__box_text2 {
      background: #FBE4FF;
   }
   &__box {
      padding: 120px 72px 0 72px;
      @media(max-width: 1400px) {
         padding: 50px 50px 0 50px;
      }
      @media(max-width: 1150px) {
         padding: 30px 20px 0 20px;
      }
      @media(max-width: 1000px) {
         padding: 50px 10px 50px 10px;
      }
   }
   &__title {
      color: #000;
      margin-bottom: 24px;
   }
   &__text {
      margin-bottom: 134px;
      @media(max-width: 1400px) {
         margin-bottom: 80px;
      }
      @media(max-width: 1150px) {
         margin-bottom: 50px;
      }
   }
   &__img {
      height: 100%;
   }
}

.page3 {
   transform: translateX(150%);
   transition: 1s;
   &.active {
      transform: translateX(0%);
   }
   padding: 0 0 72px 0;
   color: #8491A0;
   &__body,
   &__part2 {
      display: flex;
      justify-content: space-between;
   }
   &__body {
      align-items: start;
      @media(max-width: 600px) {
         flex-direction: column;
      }
   }
   &__part1 {
      width: 24%;
      @media(max-width: 1200px) {
         width: 28%;
      }
      @media(max-width: 600px) {
         width: 100%;
         margin-bottom: 60px;
      }
   }
   &__part2 {
      width: 68%;
      flex-wrap: wrap;
      @media(max-width: 600px) {
         width: 100%;
      }
   }
   &__item {
      width: 38%;
      margin-bottom: 48px;
      @media(max-width: 1200px) {
         width: 48%;
      }
      @media(max-width: 600px) {
         width: 100%;
      }
   }
   &__title {
      margin-bottom: 24px;
      color: #fff;
   }
}

.item2 {
   &__icon {
      width: 32px;
      height: 32px;
      margin-bottom: 24px;
   }
   &__title {
      color: #fff;
      font-weight: 700;
      margin-bottom: 12px;
   }
}

.page4 {
   transform: scale(0.1) rotate(180deg);
   transition: 1.5s;
   &.active {
      transform: scale(1) rotate(0deg);
   }
   max-width: 1460px;
   margin: 0 auto;
   padding: 0 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0 0 120px 0;
   @media(max-width: 600px) {
      margin: 0 0 80px 0;
   }
   &__item {
      width: 25%;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #181823;
      @media(max-width: 900px) {
         width: 50%;
      }
   }
   &__img {
      width: 85px;
      height: 30px;
   }
}

.page5 {
   opacity: 0;
   transition: 6s;
   &.active {
      opacity: 1;
   }
   margin: 0 0 153px 0;
   @media(max-width: 600px) {
      margin: 0 0 63px 0;
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__part {
      width: 49%;
      @media(max-width: 600px) {
         width: 100%;
      }
   }
   &__above_title {
      color: #8491A0;
   }
   &__title {
      margin-bottom: 80px;
   }
   &__item {
      margin-bottom: 24px;
      width: 100%;
   }
   &__btn {
      color: #fff;
      font-weight: 700;
      padding: 24px 32px;
      border: 1px solid $blue;
      margin: 67px auto;
   }
}

.item4 {
   &__img {
      width: 100%;
      height: auto;
   }
   &__box {
      background: #181823;
      padding: 40px 32px;
      @media(max-width: 600px) {
         padding: 30px 10px;
      }
   }
   &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      color: #fff;
      margin-bottom: 13px;
   }
   &__text {
      color: #8491A0;
   }
}

.page7 {
   transform: translateX(150%);
   transition: 1s;
   &.active {
      transform: translateX(0%);
   }
   margin: 0 0 120px 0;
   @media(max-width: 600px) {
      margin: 0 0 80px 0;
   }
   &__body {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   &__part {
      width: 49%;
      @media(max-width: 600px) {
         width: 100%;
      }
   }
   &__title {
      margin-bottom: 24px;
   }
   &__text {
      color: #8491A0;
      margin-bottom: 40px;
   }
   &__link {
      color: #fff;
   }
   &__item {
      margin-top: 60px;
      width: 100%;
   }
}

.item7 {
   border: 1px solid #fff;
   &__img {
      width: 100%;
      height: auto;
   }
   &__box {
      padding: 64px;
      color: #fff;
      @media(max-width: 1200px) {
         padding: 40px 20px;
      }
   }
   &__text {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 64px;
   }
   &__name {
      font-size: 18px;
      font-weight: 700;
      color: #5B6876;
      span {
         font-weight: 400;
      }
   }
}

.page8 {
   transform: rotateY(90deg);
   transition: 1s;
   &.active {
      transform: rotateY(0deg);
   }
   margin: 0 0 96px 0;
   @media(max-width: 600px) {
      margin: 0 0 80px 0;
   }
   &__title {
      margin-bottom: 24px;
   }
   &__text {
      color: #8491A0;
      margin-bottom: 64px;
   }
   &__choices,
   &__images {
      display: flex;
      align-items: center;
   }
   &__choices {
      margin-bottom: 10px;
      flex-wrap: wrap;
   }
   &__choice {
      color: #fff;
      margin-right: 24px;
      margin-bottom: 30px;
      padding: 12px 16px;
      border: 1px solid $blue;
      &.active {
         background: $blue;
      }
      &:last-child {
         margin-right: 0;
      }
   }
   &__images {
      justify-content: space-between;
      flex-wrap: wrap;
   }
   &__img {
      width: 24%;
      height: 420px;
      margin-bottom: 24px;
      &.hide {
         display: none;
      }
      &.show {
         animation: animate .6s ease;
      }
      @media(max-width: 1440px) {
         height: calc(300px + (420 - 300) * ((100vw - 900px) / (1440 - 900)));
      }
      @media(max-width: 900px) {
         width: 49%;
         height: calc(180px + (500 - 180) * ((100vw - 280px) / (900 - 280)));
      }
   }
}
@keyframes animate {
   0% {
      transform: rotateX(90deg);
   }
   100% {
      transform: rotateX(0);
   }
}

.page9 {
   transform: rotateZ(90deg) scale(0.1);
   transition: 1.5s;
   &.active {
      transform: rotateZ(0deg) scale(1);
   }
   margin: 0 0 120px 0;
   @media(max-width: 600px) {
      margin: 0 0 80px 0;
   }
   &__body {
      display: flex;
      align-items: start;
      justify-content: space-between;
      @media(max-width: 900px) {
         flex-direction: column;
         align-items: center;
      }
   }
   &__part {
      width: 49%;
      @media(max-width: 900px) {
         width: 75%;
      }
      @media(max-width: 600px) {
         width: 100%;
      }
   }
   &__title {
      margin-bottom: 24px;
   }
   &__text {
      color: #8491A0;
   }
   &__form {
      display: flex;
      flex-direction: column;
      @media(max-width: 900px) {
         margin-top: 50px;
      }
   }
   &__label {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 8px;
   }
   &__input,
   &__textarea,
   &__btn {
      width: 100%;
   }
   &__input,
   &__textarea {
      background: #181823;
      margin-bottom: 40px;
      border: none;
      outline: #000;
      text-indent: 10px;
   }
   &__input {
      height: 50px;
   }
   &__textarea {
      height: 100px;
      padding-top: 10px;
   }
   &__btn {
      background: $blue;
      color: #fff;
      height: 75px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
   }
}

.container2 {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 10px;
}