@import url('../css/style.css');

.page2 {
   padding: 60px 0;
   &__body {
      display: flex;
      align-items: start;
      justify-content: space-between;
   }
   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__item {
      width: 370px;
      margin: 0 30px 30px 0;
      text-align: center;
      border: 1px solid #d5cdcd;
      @media(max-width: 1100px) {
         width: 43%;
         margin: 0 0 15px 0;
      }
      @media(max-width: 750px) {
         width: 100%;
      }
      span {
         display: flex;
         width: 100%;
         max-height: 280px;
         overflow: hidden;
         display: block;
         margin: 0 0 10px 0;
      }
   }
   &__big {
      width: 100%;
      padding: 0 30px 30px 0;
      @media(max-width: 1180px){
      }
      @media(max-width: 1100px){
         padding: 0 0 15px 0;
      }
      @media(max-width: 750px){
         width: 100%;
      }
   }
}

.big {
   span {
      display: flex;
      width: 100%;
      overflow: hidden;
      display: block;
      margin: 0 0 -5px 0;
   }
   &__alltext {
      border: 1px solid #d5cdcd;
      padding: 20px 0 25px 30px;
      @media(max-width: 1100px){
         padding: 15px 10px 20px 20px;
      }
      @media(max-width: 550px){
         padding: 10px 5px 10px 10px;
      }
   }
   &__img {
      width: 100%;
      transition: all .3s ease;
      &:hover {
         transform: scale(1.1);
      }
   }
   &__text1 {
      padding: 0 0 5px 0;
   }
   &__title {
      font-size: 20px;
      line-height: 26 / 20 * 100%;
      color: #171717;
      padding: 0 0 10px 0;
   }
   &__text2 {
      padding: 0 0 14px 0;
   }
   &__text3 {
      font-size: 14px;
      line-height: 24 / 14 * 100%;
      color: #666666;
      padding: 0 126px 0 0;
      @media(max-width: 1100px){
         padding: 0 0 0 0;
      }
   }
}

.item {
   &__img {
      transition: all .3s ease;
      max-width: 100%;
      height: auto;
      &:hover {
         transform: scale(1.1);
      }
      @media(max-width: 750px) {
         width: 100%;
      }
   }
   &__text {
      padding: 0 0 5px 0;
   }
   &__title {
      display: block;
      margin: 0 auto;
      width: 70%;
      padding: 0 0 10px 0;
      @media(max-width: 1100px) {
         width: 85%;
      }
      @media(max-width: 750px) {
         width: 95%;
      }
   }
   &__text2 {
      padding: 0 0 14px 0;
   }
}

.page22 {
   width: 270px;
   margin: 0 0 0 100px;
   @media(max-width: 1210px) {
      margin: 0 0 0 0;
   }
   @media(max-width: 1100px) {
      width: 220px;
   }
   @media(max-width: 750px) {
      width: 150px;
   }
   @media(max-width: 550px) {
      width: 100px;
   }
   @media(max-width: 400px) {
      width: 80px;
   }
}

.item2 {
   text-align: center;
   border: 1px solid #e5e5e5;
   margin: 0 0 30px 0;
   overflow: hidden;
   &__text1 {
      font-size: 16px;
      line-height: 21 / 16 * 100%;
      text-align: center;
      color: #171717;
      border: 1px solid #e5e5e5;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 20px 0;
      width: 100%;
      @media(max-width: 750px) {
         font-size: 14px;
      }
      @media(max-width: 550px) {
         font-size: 12px;
      }
   }
   img {
      padding: 0 0 20px 0;
      @media(max-width: 1100px) {
         width: 220px;
      }
      @media(max-width: 750px) {
         width: 150px;
      }
      @media(max-width: 550px) {
         width: 100px;
      }
      @media(max-width: 400px) {
         width: 80px;
      }
   }
   .title3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 21 / 16 * 100%;
      color: #171717;
      padding: 0 0 4px 0;
      @media(max-width: 750px) {
         font-size: 12px;
      }
   }
   &__text20 {
      font-size: 14px;
      line-height: 19 / 14 * 100%;
      text-align: center;
      color: #B1B1B1;
      padding: 0 0 14px 0;
      @media(max-width: 750px) {
         font-size: 10px;
      }
      @media(max-width: 750px) {
         display: block;
         width: 95%;
         margin: 0 auto;
      }
   }
   &__text2 {
      font-family: 'PT Sans', sans-serif;
      font-size: 14px;
      line-height: 24 / 14 * 100%;
      text-align: center;
      color: #666666;
      padding: 0 20px 14px 20px;
      @media(max-width: 750px) {
         padding: 0 5px 14px 5px;
      }
      @media(max-width: 750px) {
         font-size: 12px;
      }
   }
   &__text3 {
      width: 100%;
      height: 40px;
      @media(max-width: 750px) {
         font-size: 12px;
      }
   }
   .text31 {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e5e5e5;
      @media(max-width: 750px) {
         font-size: 12px;
      }
   }
   &__title {
      font-size: 18px;
      line-height: 26 / 18 * 100%;
      text-align: center;
      color: #171717;
      width: 95%;
      display: block;
      margin: 0 auto;
      padding: 0 0 10px 0;
      @media(max-width: 750px) {
         font-size: 12px;
      }
   }
}

.list2 {
   padding: 0 0 50px 0;
   &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #E5E5E5;
      padding: 0 0 15px 0;
      margin: 0 0 15px 0;
      font-size: 14px;
      line-height: 19 / 14 * 100%;
      color: #666666;
      @media(max-width: 750px) {
         font-size: 10px;
      }
      @media(max-width: 550px) {
         font-size: 8px;
      }
      @media(max-width: 400px) {
         font-size: 5px;
      }
      &:last-child {
         margin: 0 0 0 0;
      }
   }
}

.soces {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 3px;
   padding: 20px 0 40px 0;
   @media(max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;
   }
   @media(max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
   }
   @media(max-width: 400px) {
      grid-gap: 10px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 88px;
      height: 88px;
      @media(max-width: 750px) {
         margin: 5px 10px;
      }
      @media(max-width: 1100px) {
         width: 70px;
         height: 70px;
      }
      @media(max-width: 750px) {
         width: 55px;
         height: 55px;
      }
      @media(max-width: 550px) {
         width: 40px;
         height: 40px;
      }
   }
   &__text {
      font-family: 'PT Sans', sans-serif;
      font-size: 12px;
      line-height: 16 / 12 * 100%;
      text-align: center;
      color: #999999;
      @media(max-width: 750px) {
         font-size: 8px;
      }
   }
}

.tags {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 40px;
   row-gap: 22px;
   @media(max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
   }
   @media(max-width: 750px) {
      column-gap: 10px;
      row-gap: 15px;
   }
   @media(max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
   }
   &__link {
      font-size: 14px;
      line-height: 19 / 14 * 100%;
      color: #666666;
      @media(max-width: 750px) {
         font-size: 10px;
      }
      @media(max-width: 550px) {
         font-size: 8px;
      }
   }
}

.page2 {
   &__arrows {
      width: 400px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 60px 0 80px 0;
      @media(max-width: 750px) {
         width: 200px;
      }
   }
   &__link_ar1,
   &__link_ar2 {
      position: relative;
      cursor: pointer;
      &:before,
      &:after {
         content: '';
         position: absolute;
         width: 20px;
         height: 6px;
      }
      &:before {
         top: 5px;
         transform: rotate(45deg);
      }
      &:after {
         top: -5px;
         transform: rotate(-45deg);
      }
   }
   &__link_ar1 {
      &:before,
      &:after {
         background: #171717;
      }
   }
   &__link_ar2 {
      &:before,
      &:after {
         background: red;
      }
   }
   &__link_ar3,
   &__link_ar4 {
      position: relative;
      cursor: pointer;
      &:before,
      &:after {
         content: '';
         position: absolute;
         width: 20px;
         height: 6px;
      }
      &:before {
         top: 5px;
         transform: rotate(45deg);
      }
      &:after {
         top: -5px;
         transform: rotate(-45deg);
      }
   }
   &__link_ar3 {
      &:before,
      &:after {
         background: red;
      }
   }
   &__link_ar4 {
      &:before,
      &:after {
         background: #171717;
      }
   }
   &__link_ar2 {
      transform: rotate(180deg);
   }
   &__link_ar4 {
      transform: rotate(180deg);
   }
}

.body1 {
   position: relative;
   width: 100%;
   height: 2900px;
   @media(max-width: 750px) {
      overflow: scroll;
      &::-webkit-scrollbar {
         width: 7px;
         background-color: #f9f9fd;
      }
      &::-webkit-scrollbar-thumb {
         background-color: #223c50;
      }
   }
}

.page20, .page10 {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   transition: all .5s ease;
}

.page20 {
   transform: translateX(-100%);
   opacity: 0;
   pointer-events: none;
}

.page20.secActive{
   opacity: 1;
   pointer-events: auto;
   transform: translateX(0);
}

.page10.secActive{
   opacity: 0;
   pointer-events: none;
   transform: translateX(-100%);
}

.page3 {
   padding: 0 0 100px 0;
   @media(max-width: 750px) {
      padding: 0 0 50px 0;
   }
   &__title {
      font-size: 24px;
      line-height: 32 / 24 * 100%;
      text-align: center;
      color: #171717;
      padding: 0 0 39px 0;
   }
   &__items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 0;
   }
   &__img {
      width: 296px;
      height: 296px;
      padding: 10px;
      @media(max-width: 750px) {
         width: 200px;
         height: 200px;
      }
      @media(max-width: 400px) {
         width: 180px;
         height: 180px;
      }
      @media(max-width: 380px) {
         width: 150px;
         height: 150px;
      }
   }
}

.container2 {
   width: 1880px;
   margin: 0 auto;
   @media(max-width: 1890px) {
      width: 100%;
   }
}

.footer {
   padding: 0 0 29px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 33 / 25 * 100%;
      letter-spacing: 2.5px;
      color: #171717;
      padding: 0 0 60px 0;
   }
   &__names {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__name {
      margin: 0 35px 0 0;
      font-size: 14px;
      line-height: 18 / 14 * 100%;
      color: #666666;
      padding: 0 0 29px 0;
      @media(max-width: 550px) {
         margin: 0 20px 0 0;
         font-size: 12px;
         &:last-child {
            margin: 0 0 0 0;
         }
      }
      &:last-child {
         margin: 0 0 0 0;
      }
   }
   &__soces {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 30px 0;
   }
   &__soc {
      margin: 0 30px 0 0;
      padding: 0 0 40px 0;
      border-bottom: 1px solid #E5E5E5;
      &:last-child {
         margin: 0 0 0 0;
      }
      @media(max-width: 550px) {
         margin: 0 15px 0 0;
         &:last-child {
            margin: 0 0 0 0;
         }
      }
   }
   &__text {
      text-align: center;
      font-size: 14px;
      line-height: 18 / 14 * 100%;
      color: #666666;
      @media(max-width: 550px) {
         font-size: 12px;
      }
   }
}

#info {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 50px 0;
}